<!DOCTYPE html>
<html>

<head>
    <title>后台登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/admin/main" method="POST">
        <input type="text" name="userName" id="">
        <input type="password" name="userPwd" id="">
        <button type="submit">登录</button>
    </form>
</body>

</html>